<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HrOne - contact form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://play-lh.googleusercontent.com/rkVQkG6_-JA8aJ-BMpp0X14AnFz_h5c6Wf3-84XYPou8zZQ1sCHfBiNolU7-3W97ZJWQX8ZkD3rz280A5FpXqyQ" type="image/x-icon">
</head>
<body>
<nav class="container-fluid navbar navbar-expand-lg bg-success rounded-5">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuy47Tk7Z6Fo871z5j-RzQmUV7SA_2vk8Ov1JwFVNrbn8DT-KdnN4Ph4Sh&s=10" class="rounded-5" height="30" alt="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">💠about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-white" aria-disabled="true">🪶Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-white" aria-disabled="true">⚙️Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-white" aria-disabled="true">💬Get Quote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contact">📨contact us</a>
        </li>
      </ul>
       <a href="#" class="btn btn-outline-light btn-sm m-3">
          <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>
  </div>
</nav>


 <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center pt-5 text-success">
        <li class="page-item disabled">
          <a class="page-link bg-success shadow-lg text-white">Previous</a>
        </li>
        <li class="page-item"><a class="page-link shadow-lg text-success" href="#">Leave Request</a></li>
        <li class="page-item"><a class="page-link  shadow-lg text-success" href="#">Meetings</a></li>
        <li class="page-item"><a class="page-link shadow-lg text-success" href="#">Task List</a></li>
        <li class="page-item">
          <a class="page-link text-white shadow-lg bg-success" href="#">Next</a>
        </li>
      </ul>
    </nav>


<h2 class="container p-3 m-5 text-larger">This page will available soon....</h2>






</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>
